#mainHeader {
    font-size: 60px;
    color: white;
    
}

.forecastBox {
    /* border: 1px solid rgb(228, 209, 209); */
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(52, 58, 64, 1);
    color: white;
}

.uviGreen {
    background-color: rgb(13, 211, 13);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.uviYellow {
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.uviRed {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

h2 {
    padding: 5px;
}

#citySearchBtn {
    background-color: rgb(52, 58, 64, 1);
    border-color: rgb(52, 58, 64, 1);
    display: flex;
    flex: 0 0 80%;
}